html, body, #root, .app-container{
  margin: 0;
  padding: 0;
  width:100%;
  min-height: 100%;
  overflow-x: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .app-container{
    padding: 0;
  }
}